<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        function printResult(result) {
            var content = '<ul>';

            for (var i = 0; i < result.length; i++) {
                content +=
                    '<li>'+
                    'Name: ' + result[0].name +
                    ', price: ' + result[0].price +
                    ' <button>Add</button>' +
                    ' <button>Delete</button>' +
                    '</li>';
            }
            content += '<ul>';
            $("#product").html(content);
        }

        function mainSearch(){
            var inputData = document.getElementById("searchInput").value;
            var json = { "name": inputData };

            $.ajax({
                type: 'post',
                url: 'http://localhost:8080/search',
                async: false,
                data: JSON.stringify(json),
                contentType: "application/json",
                dataType: "json",
                success: function(result, status, xhr) {
                    // console.log('Res: ', result);
                    printResult(result)
                }
            });

            // console.log('Element!!!!: ', JSON.stringify(inputData));
            // console.log('main search: ', document.getElementById("searchInput").value);
        }

        function changeDivContent(category) { // ...
            $.ajax({
                url: 'http://localhost:8080/'+category,
                success: function(result, status, xhr) {
                    printResult(result);
                }
            })

        }

    </script>
</head>

<body>

<div class="body-container"
     style="border: 1px solid red;
            width: 70%;
            display: block;
            margin: auto;">

    <header class="text-center text-small" style="border: 1px solid black">

        <div class="row">
            <div class="form-inline">
                <div class="col-sm-5" style="width: 100%;">
                    <div class="panel-group">
                        <div class="panel panel-primary">

                            <div class="panel-body" style="background-color: lightgray;">
                                <div class="text-center">
                                    <div>
                                        <input id="searchInput"
                                               type="search"
                                               placeholder="What are you looking for?"
                                               class="_d25db_31-XG _14uqc"
                                               value="" autofocus="" autocomplete="off" name="string" required="" data-role="search-input"
                                               itemprop="query-input">
                                        <button onclick="mainSearch()">Search</button>
                                    </div>
                                    <div class="pull-right">

                                        <button type="button"
                                                class="btn btn-primary"
                                                onclick="window.location.href='/main'">
                                            Home</button>

                                        <div style="border: 1px solid black; display: inline-block;">
                                            <div style="display: block">
                                                <img width="50px" height="20px" src="../images/basket.png">
                                                <input type="text" value="0" id="basket" style="width: 50px"/>
                                            </div>
                                        </div>

                                        <button type="button"
                                                class="btn btn-info"
                                                onclick="window.location.href='/addPerson'">
                                            Register</button>

                                        <button type="button"
                                                class="btn btn-info"
                                                onclick="window.location.href='/logout'">
                                            Logout</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <div class="container-fluid">

        <div class="row content" id="wrapper" >

            <div class="col-sm-3 sidenav" style="border: 1px solid black">

                <h4>Main menu:</h4>

                <ul class="nav nav-pills nav-stacked">

                    <li class="nav-item">
                        <a onclick="changeDivContent('electronics')">
                            Elektronika
                        </a>
                    </li>

                    <li class="nav-item">
                        <a onclick="changeDivContent('clothes')">
                            Ubrania
                        </a>
                    </li>

                    <li class="nav-item">
                        <a onclick="changeDivContent('sport')">
                            Sport i turystyka
                        </a>
                    </li>

                    <li class="nav-item">
                        <a onclick="changeDivContent('motorization')">
                            Motoryzacja
                        </a>
                    </li>

                    <li class="nav-item">
                        <a onclick="changeDivContent('health')">
                            Zdrowie
                        </a>
                    </li>

                    <li class="nav-item">
                        <a onclick="changeDivContent('other')">
                            Inne
                        </a>
                    </li>

                    <hr>
                    <hr>

                    <li class="nav-item">
                        <a href="/addProduct">
                            Add product
                        </a>
                    </li>

                </ul><br>

            </div >

            <div class="col-sm-9" id="center" style="border: 1px solid black">

                <div>
                    <h1>
                        Dodawanie nowego produktu
                    </h1>

                    <form action="#" th:action="@{/verifyProductData}" th:object="${product}" method="post">

                        <div>
                            <label>Name:</label>
                            <input text="text" th:field="*{name}" placeholder="Enter product name:"/>
                        </div>

                        <div>
                            <label>Price:</label>
                            <input text="text" th:field="*{price}" placeholder="Enter price:"/>
                        </div>

                        <div>
                            <label>Select category:</label>
                            <!--<input text="text" th:field="*{category}" placeholder="Enter category:"/>-->
                            <select th:field="*{category}">
                                <option value="Elektronika">Elektronika</option>
                                <option value="Sport">Sport</option>
                                <option value="Ubrania">Ubrania</option>
                                <option value="Zdrowie">Zdrowie</option>
                                <option value="Motoryzacja">Motoryzacja</option>
                                <option value="Inne">Inne</option>
                            </select>
                        </div>

                        <input type="submit" value="Submit" />
                    </form>
                </div>

            </div>

        </div>

    </div>

    <footer class="my-5 pt-5 text-center text-small" style="border: 1px solid black">
        <h4>Daniel Polchlopek - Sklep internetowy</h4>
    </footer>

</div>
</body>

</html>
